<%= form_for @post do |f| %>
<div class="field">
    <div class="control">
    <%= f.text_area :content %>
    <%= f.submit 'murmr into the void', class: 'button is-primary'  %>
    </div>
</div>
<%end%>