<section class="section">
    <div class="container">
        <div class="columns">
            <%= render 'feed'%>
            <%= render 'discover-new-users'%>
        </div>
    </div>
</section>

<%= link_to 'Your Page', @current_user %>
